<p>Привет, {{ email }},</p>
<p>Нажми на ссылку чтобы перейти к восстановлению пароля</p>
<a href={{ url }}>Восстановить пароль</a>

<p>Если ты не запрашивал данное собщение, то можно на него не отвечать.</p>